
@{
    ViewData["Title"] = "FormLogin";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Gender</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach(var item in Model)

                    {
                        <tr>
                            <td>@item.SID</td>
                            <td>@item.Name</td>
                            <td>@item.Gender</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

